@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --color-barra-lateral: rgb(255, 255, 255);
    --color-main: rgb(252, 252, 252);
    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136, 144);

    --color-menu-hover: rgb(238, 238, 238);
    --color-menu-hover-texto: rgb(0, 0, 0);


    --color-boton: rgb(0, 0, 0);
    --color-boton-texto: rgb(255, 255, 255);

    --color-linea: rgb(241, 241, 241);

    --color-switch-base: rgb(201, 202, 206);
    --color-switch-circulo: rgb(241, 241, 241);
    --neutral: #d4d4d4;
    --color-main:rgb(230, 230, 230);
}

.dark-mode {
    --color-main:rgb(74, 74, 77);
    --color-barra-lateral: rgb(44, 45, 49);
    --neutral: rgb(71, 70, 78);
    --color-texto: rgb(255, 255, 255);
    --color-texto-menu: rgb(110, 110, 117);

    --color-menu-hover: rgb(0, 0, 0);
    --color-menu-hover-texto: rgb(238, 238, 238);


    --color-boton: rgb(255, 255, 255);
    --color-boton-texto: rgb(0, 0, 0);

    --color-linea: rgb(71, 70, 78);

    --color-switch-base: rgb(201, 202, 206);
    --color-switch-circulo: rgb(44, 45, 49);
}
html, body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-barra-lateral); /* Elimina el margen por defecto del body */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/*-----------> Barra lateral*/
.barra-lateral {
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    overflow: hidden;
    border-right: 1px solid var(--neutral);
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, background-color 0.3s ease;
    z-index: 500;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    display: block;
    width: 125px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
}

/*----------> Nombre de la pagina */
.barra-lateral .nombre-pagina {
    width: 100%;
    height: 45px;
    padding: 0 16px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.barra-lateral .nombre-pagina ion-icon {
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina span {
    margin-left: 5px;
    font-size: 25px;
}

/*------> Boton*/
.barra-lateral .boton-crear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-lateral .boton-crear .boton {
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}


.barra-lateral .boton-crear .boton a{
    color: var(--color-boton-texto);
    text-decoration: none; 
}
.barra-lateral .boton ion-icon {
    min-width: 50px;
    font-size: 25px;
}

/*--------> Menú de navegacion*/
.barra-lateral .navegacion-side {
    transition: margin 0.5s ease;
}

.barra-lateral .navegacion-side.oculto {
    margin: 0 15px;
}

.barra-lateral .navegacion li {
    list-style: none;
    margin-bottom: 5px;
    margin: 0;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon {
    min-width: 50px;
    font-size: 20px;
}

/*----> linea*/

.barra-lateral .linea {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--color-linea);
}

/*------> modo oscuro*/

.modo-oscuro {

    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.barra-lateral .modo-oscuro .info {
    height: 45px;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.mini-modo-oscuro {
    flex-direction: column;
    align-items: center;
}

.barra-lateral .modo-oscuro ion-icon {
    min-width: 50px;
    font-size: 20px;
}

/*-------> switch*/
.barra-lateral .modo-oscuro .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
}

.barra-lateral .modo-oscuro .base {
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo {
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.3s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido {
    left: 15px;
}

.main {
    position: relative;
    margin-left: 280px;
    min-height: 100vh;
    transition: margin-left 0.5s ease;
    background-color: var(--color-main);
}

.main.min-main {
    margin-left: 80px
}

/* TOP BAR*/
.topbar {
    height: 64px;
    min-width: calc(100% - 280px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-barra-lateral);
    padding: 0 16px;
    border-bottom: 1px solid var(--neutral);
    position: fixed;
    z-index: 500;
}

.topbar .menu-bton ion-icon {
    font-size: 28px;
    color: var(--color-texto);
}
.topbar button{
    position: relative;
    right: 5px;
    border: none;
    background: none;
}

.topbar button ion-icon{
    
    min-width: 50px;
}

.logo{
    display: flex;
}

.logo span{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: var(--color-texto);
}

.logo .img-logo{
    max-height: 40px;
    max-width: 50px;
    display: flex;
    align-items: center;
}

.logo .img-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.topBton{
    display: flex;
    align-items: center;
    flex-direction:row;
    gap: 15px;
}

.topBton .eliminar {
    background: none;
}
.topBton .eliminar ion-icon{
    min-width: 50px;
    font-size: 25px;
    background: none;
    color: var(--color-texto);
}

.topbar .cerrarSesion button{
    font-size: 18px;
    color: var(--color-boton-texto);
    background-color: var(--color-boton);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.topbar .cerrarSesion button:hover{
    background-color: rgb(116, 21, 14);
}

/*MAIN DATOS SUPERIORES*/
.stadist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 40px;
}

/* KPI Cards */


.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    position: relative;
    padding: 5px 0;
    padding-top: 0;
    background-color: var(--color-barra-lateral);
}

.card:hover {
    transform: translateY(-5px);
}

.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 138px;
    background-color: #f3f3f3; /* Fondo para imágenes pequeñas */
    border-radius: 8px;
    overflow: hidden;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h3{
    text-align: center;
    color:var(--color-texto)
}
.product-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-stock,
.product-category,
.product-price,
.product-brand {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    color: #2d9cdb;
}


.card .editar {
    width: 100px;
    margin: 0 auto;
}


.hidden{
    display: none;
}

.botones-producto{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.botones-producto button{
    border: none;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.custom_checkbox{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 35px;
    height: 35px;
    cursor: pointer;
}

.custom_checkbox input{
    display: none;
}

.custom_checkbox .checkmark{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    background: none;
    background-size: 500%;
    transition: background-size 0.1s ease;
} 

.custom_checkbox input:checked + .checkmark{
    background: #111 url(../image/checkmark.svg) center/60% no-repeat;
    transition: background-size 0.25s cubic-bezier(0.7,0,0.18,1.24);
}

.checkbox {
    display: none; /* Ocultar el checkbox */
}

.checkbox:checked + .producto-card {
    background-color: #e0f7fa; /* Cambia el fondo cuando el checkbox está seleccionado */
}

@media screen and (max-width:500px) {
    .barra-lateral{
        display: none;
        position: absolute;
    }

    .mini-barra-lateral{
        display: block;
        width: 280px;
    }
    .main{
        margin-left: 0;
    }

    .main.min-main{
        margin-left: 0;
    }

    .topbar{
        width: 100%;
    }

}

@media screen and (max-width:1080px) {
    
}

@media screen and (max-width:1080px) {
    
}